####################################################################################
# Constraints from file : 'system.ucf'
####################################################################################
NET "clk" IOSTANDARD = LVCMOS33;
NET "clk" LOC = AG18;
NET "clk" TNM_NET = "clk";
TIMESPEC TS_clk = PERIOD "clk" 100000 KHz;

NET "reset" TIG;
NET "reset" IOSTANDARD = LVCMOS25;
NET "reset" PULLUP;
NET "reset" LOC = E7;

#  Digilent Genesys System Board
Net led<0> LOC = AE11  |  IOSTANDARD=LVCMOS33  |  PULLDOWN  |  SLEW=SLOW  |  DRIVE=2;
Net led<1> LOC = AF11  |  IOSTANDARD=LVCMOS33  |  PULLDOWN  |  SLEW=SLOW  |  DRIVE=2;
Net led<2> LOC = AG11  |  IOSTANDARD=LVCMOS33  |  PULLDOWN  |  SLEW=SLOW  |  DRIVE=2;
Net led<3> LOC = AH10  |  IOSTANDARD=LVCMOS33  |  PULLDOWN  |  SLEW=SLOW  |  DRIVE=2;
Net led<4> LOC = AG10  |  IOSTANDARD=LVCMOS33  |  PULLDOWN  |  SLEW=SLOW  |  DRIVE=2;
Net led<5> LOC = AH9   |  IOSTANDARD=LVCMOS33  |  PULLDOWN  |  SLEW=SLOW  |  DRIVE=2;
Net led<6> LOC = AH8   |  IOSTANDARD=LVCMOS33  |  PULLDOWN  |  SLEW=SLOW  |  DRIVE=2;
Net led<7> LOC = AG8   |  IOSTANDARD=LVCMOS33  |  PULLDOWN  |  SLEW=SLOW  |  DRIVE=2;

# Dipswitches
Net dip<0> LOC=G15  |  IOSTANDARD=LVCMOS25  |  SLEW=SLOW  |  DRIVE=2;
Net dip<1> LOC=G16  |  IOSTANDARD=LVCMOS25  |  SLEW=SLOW  |  DRIVE=2;
Net dip<2> LOC=K17  |  IOSTANDARD=LVCMOS25  |  SLEW=SLOW  |  DRIVE=2;
Net dip<3> LOC=H17  |  IOSTANDARD=LVCMOS25  |  SLEW=SLOW  |  DRIVE=2;
Net dip<4> LOC=H18  |  IOSTANDARD=LVCMOS25  |  SLEW=SLOW  |  DRIVE=2;
Net dip<5> LOC=K18  |  IOSTANDARD=LVCMOS25  |  SLEW=SLOW  |  DRIVE=2;
Net dip<6> LOC=L18  |  IOSTANDARD=LVCMOS25  |  SLEW=SLOW  |  DRIVE=2;
Net dip<7> LOC=J19  |  IOSTANDARD=LVCMOS25  |  SLEW=SLOW  |  DRIVE=2;

# PlanAhead generated physical constraints 
INST "decrement" AREA_GROUP = "counter";
AREA_GROUP "counter" RANGE=SLICE_X8Y60:SLICE_X23Y79;
AREA_GROUP "counter" RANGE=DSP48_X0Y24:DSP48_X0Y31;
AREA_GROUP "counter" RANGE=RAMB36_X0Y12:RAMB36_X0Y15;
