# CLOCK
NET CLOCK TNM_NET = CLOCK;
NET CLOCK LOC = AH15;
NET CLOCK IOSTANDARD = LVCMOS33;
NET CLOCK TNM_NET = CLOCK;
TIMESPEC TS_CLOCK = PERIOD CLOCK 10000 PS;

# RESET
NET RESET LOC = E9;
NET RESET IOSTANDARD = LVCMOS33;
NET RESET PULLUP;
NET RESET TIG;

# MODULE XPS_IIC CONSTRAINTS
NET IIC_SCL LOC = U27;
NET IIC_SCL SLEW = FAST;
NET IIC_SCL DRIVE = 24;
NET IIC_SCL TIG;
#NET IIC_SCL IOSTANDARD = LVCMOS18;
NET IIC_SCL PULLUP;

NET IIC_SDA LOC = T29;
NET IIC_SDA SLEW = FAST;
NET IIC_SDA DRIVE = 24;
NET IIC_SDA TIG;
#NET IIC_SDA IOSTANDARD = LVCMOS18;
NET IIC_SDA PULLUP;

INST "intensity_filter" AREA_GROUP = "filter";
AREA_GROUP "filter" RANGE=SLICE_X8Y120:SLICE_X43Y139;
AREA_GROUP "filter" RANGE=DSP48_X0Y48:DSP48_X0Y55;
AREA_GROUP "filter" RANGE=RAMB36_X1Y24:RAMB36_X1Y27;

## DVI CONSTRAINTS
NET DVI_D<0>  LOC = AB8  | IOSTANDARD = LVDCI_33;
NET DVI_D<1>  LOC = AC8  | IOSTANDARD = LVDCI_33;
NET DVI_D<2>  LOC = AN12 | IOSTANDARD = LVDCI_33;
NET DVI_D<3>  LOC = AP12 | IOSTANDARD = LVDCI_33;
NET DVI_D<4>  LOC = AA9  | IOSTANDARD = LVDCI_33;
NET DVI_D<5>  LOC = AA8  | IOSTANDARD = LVDCI_33;
NET DVI_D<6>  LOC = AM13 | IOSTANDARD = LVDCI_33;
NET DVI_D<7>  LOC = AN13 | IOSTANDARD = LVDCI_33;
NET DVI_D<8>  LOC = AA10 | IOSTANDARD = LVDCI_33;
NET DVI_D<9>  LOC = AB10 | IOSTANDARD = LVDCI_33;
NET DVI_D<10> LOC = AP14 | IOSTANDARD = LVDCI_33;
NET DVI_D<11> LOC = AN14 | IOSTANDARD = LVDCI_33;

NET DVI_XCLK_P LOC = AL11 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST;
NET DVI_XCLK_N LOC = AL10 | IOSTANDARD = LVCMOS33 | DRIVE = 24 | SLEW = FAST;
NET DVI_H LOC = AM12      | IOSTANDARD = LVDCI_33;
NET DVI_V LOC = AM11      | IOSTANDARD = LVDCI_33;
NET DVI_DE LOC = AE8      | IOSTANDARD = LVDCI_33;
NET DVI_RESET LOC = AK6   | IOSTANDARD = LVCMOS33;

## VGA IN  CONSTRAINTS
NET VGA_GREEN_IN<0> LOC = Y8   | IOSTANDARD = LVCMOS33;  # BANK <1>8, VCCO=<3>.<3>V, NO DCI
NET VGA_GREEN_IN<1> LOC = Y9   | IOSTANDARD = LVCMOS33;  # BANK <1>8, VCCO=<3>.<3>V, NO DCI
NET VGA_GREEN_IN<2> LOC = AD4  | IOSTANDARD = LVCMOS33;  # BANK <1>8, VCCO=<3>.<3>V, NO DCI
NET VGA_GREEN_IN<3> LOC = AD5  | IOSTANDARD = LVCMOS33;  # BANK <1>8, VCCO=<3>.<3>V, NO DCI
NET VGA_GREEN_IN<4> LOC = AA6  | IOSTANDARD = LVCMOS33;  # BANK <1>8, VCCO=<3>.<3>V, NO DCI
NET VGA_GREEN_IN<5> LOC = Y7   | IOSTANDARD = LVCMOS33;  # BANK <1>8, VCCO=<3>.<3>V, NO DCI
NET VGA_GREEN_IN<6> LOC = AD6  | IOSTANDARD = LVCMOS33;  # BANK <1>8, VCCO=<3>.<3>V, NO DCI
NET VGA_GREEN_IN<7> LOC = AE6  | IOSTANDARD = LVCMOS33;  # BANK <1>8, VCCO=<3>.<3>V, NO DCI
NET VGA_BLUE_IN<0>  LOC = AC4  | IOSTANDARD = LVCMOS33;  # BANK <1>8, VCCO=<3>.<3>V, NO DCI			  ;
NET VGA_BLUE_IN<1>  LOC = AC5  | IOSTANDARD = LVCMOS33;  # BANK <1>8, VCCO=<3>.<3>V, NO DCI
NET VGA_BLUE_IN<2>  LOC = AB6  | IOSTANDARD = LVCMOS33;  # BANK <1>8, VCCO=<3>.<3>V, NO DCI
NET VGA_BLUE_IN<3>  LOC = AB7  | IOSTANDARD = LVCMOS33;  # BANK <1>8, VCCO=<3>.<3>V, NO DCI
NET VGA_BLUE_IN<4>  LOC = AA5  | IOSTANDARD = LVCMOS33;  # BANK <1>8, VCCO=<3>.<3>V, NO DCI
NET VGA_BLUE_IN<5>  LOC = AB5  | IOSTANDARD = LVCMOS33;  # BANK <1>8, VCCO=<3>.<3>V, NO DCI
NET VGA_BLUE_IN<6>  LOC = AC7  | IOSTANDARD = LVCMOS33;  # BANK <1>8, VCCO=<3>.<3>V, NO DCI
NET VGA_BLUE_IN<7>  LOC = AD7  | IOSTANDARD = LVCMOS33;  # BANK <1>8, VCCO=<3>.<3>V, NO DCI
NET VGA_RED_IN<0>   LOC = AG5  | IOSTANDARD = LVCMOS33;  # BANK <1>8, VCCO=<3>.<3>V, NO DCI
NET VGA_RED_IN<1>   LOC = AF5  | IOSTANDARD = LVCMOS33;  # BANK <1>8, VCCO=<3>.<3>V, NO DCI
NET VGA_RED_IN<2>   LOC = W7   | IOSTANDARD = LVCMOS33;  # BANK <1>8, VCCO=<3>.<3>V, NO DCI
NET VGA_RED_IN<3>   LOC = V7   | IOSTANDARD = LVCMOS33;  # BANK <1>8, VCCO=<3>.<3>V, NO DCI
NET VGA_RED_IN<4>   LOC = AH5  | IOSTANDARD = LVCMOS33;  # BANK <1>8, VCCO=<3>.<3>V, NO DCI
NET VGA_RED_IN<5>   LOC = AG6  | IOSTANDARD = LVCMOS33;  # BANK <1>8, VCCO=<3>.<3>V, NO DCI
NET VGA_RED_IN<6>   LOC = Y11  | IOSTANDARD = LVCMOS33;  # BANK <1>8, VCCO=<3>.<3>V, NO DCI
NET VGA_RED_IN<7>   LOC = W11  | IOSTANDARD = LVCMOS33;  # BANK <1>8, VCCO=<3>.<3>V, NO DCI
NET VGA_IN_DATA_CLK LOC = AH18 | IOSTANDARD = LVCMOS33;  # BANK <4>,  VCCO=<3>.<3>V, NO DCI
NET VGA_IN_CLAMP    LOC = AH7  | IOSTANDARD = LVCMOS33;  # BANK <1>8, VCCO=<3>.<3>V, NO DCI
NET VGA_IN_COAST    LOC = AG7  | IOSTANDARD = LVCMOS33;  # BANK <1>8, VCCO=<3>.<3>V, NO DCI
NET VGA_IN_HSOUT    LOC = AE7  | IOSTANDARD = LVCMOS33;  # BANK <1>8, VCCO=<3>.<3>V, NO DCI
NET VGA_IN_VSOUT    LOC = Y6   | IOSTANDARD = LVCMOS33;  # BANK <1>8, VCCO=<3>.<3>V, NO DCI
